<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <!--    User getUserByName(String name);-->
    <!--  传入单个参数时，可以通过#或$获取参数值，{}内可以用任意字符串获取参数值，$需要加上单引号  -->
    <select id="getUserByName" resultType="User">
        <!--select * from user where username=#{a}-->
        select * from user where username='${name}'
    </select>
    <!--User checkLogin(String username, String passwd);-->
    <select id="checkLogin" resultType="user">
        select * from user where username=#{param1} and password=#{param2}
    </select>

    <!--User checkLoginByMap(Map<String, String> map);-->
    <select id="checkLoginByMap" resultType="User">
        select * from user where username=#{username} and password=#{password}
    </select>

    <!--User checkLoginByParam;-->
    <select id="checkLoginByParam" resultType="User">
        select * from user where username=#{username} and password=#{password}
    </select>

    <!--User checkLoginByUser(@Param("user")User user);-->
    <select id="checkLoginByUser" resultType="User">
        select * from user where username=#{user.username} and password=#{user.password}
    </select>

    <!--int insertUser(User u);-->
    <insert id="insertUser">
        insert into user values(null, #{username}, #{password}, #{age}, #{sex}, #{email})
    </insert>

    <!--User deleteUser(int id);-->
    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>

    <!--Map<String, Object> getUserToMap-->
    <select id="getUserToMap" resultType="map">
        select * from user where username=#{username} and password=#{password}
    </select>

    <!--List<Map<String, Object>> getAllUserToMap();-->
    <select id="getAllUserToMap" resultType="map">
        select * from user
    </select>

    <!--Map<String, Object> getAllUserToMapByMapKey()-->
    <select id="getAllUserToMapByMapKey" resultType="map">
        select * from user
    </select>

    <!--List<User> getUsersByDynamicTable(@Param("tableName") String tableName,-->
    <select id="getUsersByDynamicTable" resultType="map">
        select * from ${tableName} where username=#{username} and password=#{password}
    </select>
</mapper>