<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DeptMapper">
    <resultMap id="deptRetMap" type="Dept">
    <id property="id" column="did"/>
    <result property="deptName" column="dept_name"/>
    </resultMap>
    <resultMap id="deptAndEmpsRetMap" type="Dept">
        <id property="id" column="did"/>
        <result property="deptName" column="dept_name"/>
        <collection property="emps" ofType="Emp">
            <id property="id" column="eid"/>
            <result property="empName" column="emp_name"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
            <result property="email" column="email"/>
        </collection>
    </resultMap>
    <select id="getDept" resultMap="deptRetMap">
        select * from dept
    </select>

    <!--Emp getDeptAndEmps(Integer did);-->
    <select id="getDeptAndEmps" resultMap="deptAndEmpsRetMap">
        select * from dept left join emp on dept.did = emp.did where dept.did=#{did}
    </select>
</mapper>