<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DynamicConditionMapper">
    <sql id="empColumns">eid
    , emp_name, age</sql>
    <resultMap id="empAndDeptResultMap" type="Emp">
        <id property="id" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
    </resultMap>
    <!--List<Emp> getEmpByColumns(@Param("id") Integer id);-->
    <select id="getEmpByColumns" resultMap="empAndDeptResultMap">
        select
        <include refid="empColumns"/>
        from emp where eid=#{id}
    </select>
    <!--int batchDelete(Integer[] ids);-->
    <delete id="batchDelete">

        delete from emp where eid in
        <choose>
            <when test="ids != null and ids.length > 0">
                <foreach collection="ids" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                (-1)
            </otherwise>
        </choose>
    </delete>
    <!--List<Emp> getEmpByCondition(Emp emp);-->
    <select id="getEmpByCondition" resultMap="empAndDeptResultMap">
        select * from emp
        <trim prefix="where" prefixOverrides="and">
            <if test="empName != null and empName != ''">
                emp_name=#{empName}
            </if>
            <if test="age != null and age > 0">
                and age=#{age}
            </if>
            <if test="sex != null and sex != ''">
                and sex=#{sex}
            </if>
            <if test="email != null and email != ''">
                and email=#{email}
            </if>
        </trim>
    </select>
    <select id="getEmpByConditionTwo" resultMap="empAndDeptResultMap">
        select * from emp
        <where>
            <if test="empName != null and empName != ''">
                emp_name=#{empName}
            </if>
            <if test="age != null and age > 0">
                and age=#{age}
            </if>
            <if test="sex != null and sex != ''">
                and sex=#{sex}
            </if>
            <if test="email != null and email != ''">
                and email=#{email}
            </if>
        </where>
    </select>
    <select id="getEmpByConditionOne" resultMap="empAndDeptResultMap">
        select * from emp where 1=1
        <if test="empName != null and empName != ''">
            and emp_name=#{empName}
        </if>
        <if test="age != null and age > 0">
            and age=#{age}
        </if>
        <if test="sex != null and sex != ''">
            and sex=#{sex}
        </if>
        <if test="email != null and email != ''">
            and email=#{email}
        </if>
    </select>
</mapper>